@charset "UTF-8";

.text-yellow{
	color: #ffc107;
}
a:hover{
		color: #ffc107;
	
}

.sizedown{
	width:370px;
	height:300px;
}
.btnmarginleft{
	margin-left:10px !important;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}
.center{
	margin: auto;
}
.btnhover:hover{
	background-color: green !important;
	
}

.bg-black{
	background-color:black !important;
}


.floatleft{
	float:left;
}
